 @font-face {
  font-family: 'San Francisco';
  font-weight: 400;
  src: url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff');
}

/*

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'San Francisco';
  list-style-type: none;
}
:root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  height: 100dvh;
}

nav {
  width: 61.25rem;
  width: 100%;
  & > ul {
    display: flex;
    flex-wrap: wrap;  
    width: 100%;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: small;
  }
}


main {
  margin: 3.125rem auto;
  width: 61.25rem;
}

#produto {
  display: flex;
  & > #opcoes-produto {
    flex-grow: 0;
    flex-basis: 50vw;
  }
  & > #visualizacao {
    flex-grow: 0;
    flex-basis: 50vw;
    flex-direction: row;
  }
}

.link {
  color: #0066cc;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

#opcoes-produto {
  display: flex;
  flex-direction: column;
  & > h1 {
    width: 20rem;
    font-size: 2rem;
  }
}

.precos {
  margin: 0.875rem 0 0;
  padding: 0 0 0.625rem;
  font-size: 1.1rem;
  & > #parcelas {
    font-size: 0.8rem;
    color: #0066cc;
    display: flex;
    & :first-child {
      width: fit-content;
      margin-right: 0.3rem;
    }
    & p {
      width: fit-content;
    }
  }
  & #a-vista {
    font-size: 0.8rem;
  }
}

#opcoes {
  margin: 1.875rem 0 0;
  & h2 {
    font-size: 1.1rem;
  }
  & ul {
    display: flex;
    padding: 1.1rem 0 0 0;
    & li {
      margin: 0 0.5rem 0.5rem 0;
      & input {
        display: none;
      }
      & label {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        height: 2.625rem;
        width: 2.625rem;
        & > img {
          width: 2rem;
          mix-blend-mode: color;
        }
      }
      & input[type='radio']:checked + label {
        border-radius: 50%;
        border: 0.125rem solid #0066cc;
      }
    }
  }
}

#selo-carbono {
  display: flex;
  align-items: center;
  padding: 0.125rem 0 1rem 0.1875rem;
  & img {
    width: 1.5625rem;
  }
  & p {
    font-size: 0.75rem;
  }
}

#tamanho-caixa {
  margin-top: 1.875rem;
  & > div#opcoes-tamanho {
    display: flex;
    gap: 0.9375rem;
    & input {
      display: none;
    }
    & label {
      flex-basis: 50vw;
      font-size: 1.1rem;
      font-weight: bold;
      height: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0.875rem 0 0;
      border: 0.00625rem solid #797979;
      border-radius: 0.625rem;
      cursor: pointer;
    }
    & input[type='radio']:checked + label {
      border: 0.125rem solid #0066cc;
    }
  }
}

#disclaimer {
  margin-top: 0.7rem;
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  & > #saiba-mais {
    & > b {
      margin-left: 0.2rem;
    }
  }
}

#info-extra {
  padding-top: 1.25rem;
  display: flex;
  flex-direction: column;
  & > #info-principal {
    margin-top: 0.875rem;
    font-size: 0.875rem;
  }

  & > #info-secundaria {
    font-size: 0.75rem;
    color: #6e6e73;
  }
}

#entrega {
  padding: 2rem 0 0;
  font-size: 0.875rem;
  display: flex;
  position: relative;
  & > #icone {
    position: absolute;
    top: 2rem;
  }
  & #informacoes-entrega {
    line-height: 1.3rem;
    position: relative;
    left: 2rem;
    & > span {
      font-weight: bold;
    }
  }
}

#comprar {
  margin: 2.2rem 0;
  & > #adicionar-a-sacola {
    all: unset;
    cursor: pointer;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    background-color: #0071e3;
    color: #fff;
    border-radius: 0.625rem;
    padding: 0.45rem;

    &:hover {
      background-color: #057bf1;
    }
  }
}

#comprar-depois {
  padding: 1.5rem 0 0;
  & > span {
    font-weight: bold;
  }
  & p {
    margin: 0 1.25rem 0 0;
  }
  & p:has(> svg) {
    display: flex;
    align-items: start;
    gap: 0.5rem;
    padding: 0.5rem 0 0;
  }
}

#visualizacao {
  margin: 0 0 0 5rem;
}

#selecionar-imagem {
  display: flex;
  justify-content: center;
  & li {
    padding: 0 1rem 0 0;
    & input {
      display: none;
    }
    & label > img {
      width: 2.875rem;
      padding: 0.25rem;
      padding-bottom: 0.5rem;
      cursor: pointer;
      border-bottom: 0.125rem solid hsla(0, 0%, 100%, 0);
      &:hover {
        border-color: #e8e8ed;
      }
    }
    & input[type='radio']:checked + label > img {
      border-color: #d2d2d6;
    }
  }
}

 */
.caixa-pequena {
  transform: scale(0.9);
}

h2{
  font-size: 20px;
}



nav{
  margin: 20px;
}

li{
  width: auto;
  padding: 0  ;
}

body{
  font-family: 'San Francisco';
  padding: 0;
  margin-top: 0;
  margin-bottom: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

#titulo-produto{
  font-size: 30px;
  margin: 0;
  margin-top: 20px;
  padding: 0;
}

ul{
  list-style-type:none;
}

#visualizacao{
  text-align: center;
}

.navegacao-pagina-da-apple ul{
  display: flex;
  flex-direction: row;
  gap: 0 50px;
  margin-top: 0;
  padding: 0;
  flex-wrap: wrap;
}


.navegacao-pagina-da-apple ul li a{
  text-decoration: none;
  color: black;
  font-size: 15px;
  transition: 0.1s;
}



.navegacao-pagina-da-apple ul li a:hover{
  color: rgb(90, 90, 90);
  transition: 0.1s;
}

.navegacao-pagina-da-apple ul li{
  height: auto;
  display: flex;
  align-items: center;
  height: 20px;
  margin-top: 10px;
}

.navegacao-pagina-da-apple ul{
  margin-left: 15px;
}

p, h1{
  word-break: break-word;
  word-wrap: break-word;
  margin: 0;
}

#precos{
  display: flex;
  flex-direction: column;
}

#preco{
  margin-top: 20px;
}

#produto{
  display: flex;
  flex-direction: row;
}

main{
  margin: 0 250px;
}

#visualizacao #selecionar-imagem{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0;
}

#visualizacao #selecionar-imagem input[type="radio"] + label img{
  border-bottom: 2px solid transparent;
}

#visualizacao #selecionar-imagem input[type="radio"]:checked + label img{
  border-bottom-color: rgb(164, 164, 164);
}

.imagem-visualizacao-main{
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

#a-vista{
  font-size: 12px;
}

#visualizacao #selecionar-imagem img{
  width: 2rem;
}

#selecao-cores{
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}


input[type="radio"]{
  appearance: none;
  margin: 0;
  padding: 0;
  display: none;
}


label{
  display: flex;
  margin-right:10px;
  width: 2.5rem;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 50%; 
  border: 0.125rem solid transparent;
}

#selecao-cores label img{
  border-radius: 50%;
  padding-left: 0;
  width: 2rem;
}

#selecao-cores input[type="radio"]:checked + label{
  border-color: blue;
}

#selo-carbono{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  gap: 10px;
}

#selo-carbono img{
  width: 20px;
}

#tamanho-caixa #opcoes-tamanho{
  display:flex;
  flex-direction: row;
  gap: 2px;
}

#tamanho-caixa #opcoes-tamanho label{
  width: 50%;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  margin-bottom: 5px;
}

#tamanho-caixa #opcoes-tamanho input[type="radio"]:checked + label{
  border-color: blue;
}

#adicionar-a-sacola{
  all: unset;
  background-color: rgb(0, 113, 227);
  font-weight: 500;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 1.1rem;
  padding: 0.45rem;
  margin-top: 20px;
  text-align: center;
  width: 90%;
  transition: .2s;
}

#adicionar-a-sacola:hover{
  background-color: rgb(0, 92, 183);
  transition: .2s;
}

#entrega{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

@media screen and (max-width: 1700px){
  main{
    margin: 0 300px;
  }
}

@media screen and (max-width: 1000px) {
    main{
      align-items: start;
      width: 95vw;
      margin: 0 15px;
    }


    #produto{
      flex-direction: column-reverse;
    }

    
}

.link{
  color: blue;
  font-size: 11px;
  text-decoration: none;
}

.link:hover{
  text-decoration: underline;
}

span.link{
  display: flex; 
  flex-direction: row;
  gap: 10px;
  color: blue;
  font-size: 11px;
  text-decoration: none;
  width: auto;
  padding: 0;
  width: auto;
}

span.link:hover{
  text-decoration: underline;
}

.info-sec{
  margin: 7px 0;
  font-size: 12px;
  color: gray;
}

.salvar-depois {
  margin-top: 10px;
  font-size: 14px;
}